<footer class="version">
 <div class="container">
  <ul class="logos">
    <li><img src="resources/images/logo-sou.jpg" alt="Sociologický ústav" style="height: 50px; padding-right: 2em; "/></li>
    <li><img src="resources/images/logo-cuni.png" alt="Filozofická fakulta UK" style="height: 50px;  padding-right: 2em;"/></li>
    <li><img src="resources/images/logo-tacr.png" alt="TA ČR" style="height: 50px;  padding-right: 2em;"/></li>
  </ul>
  <ul class="navigation">
    <li>
      <a href="${app}/index.html" data-template="pages:parse-params"><pb-i18n key="headings.dictionaries">Dictionaries</pb-i18n></a>
    </li>
    <li>
      <a href="${app}/LeDIIR?id=project-about" data-template="pages:parse-params"><pb-i18n key="menu.about">About</pb-i18n></a>
    </li>
    <li>
      <a href="${app}/LeDIIR?id=project-how-to-cite" data-template="pages:parse-params"><pb-i18n key="headings.howToCite">How to cite</pb-i18n></a>
    </li>
    <li>
      <a href="${app}/LeDIIR?id=FACS-about" data-template="pages:parse-params"><pb-i18n key="headings.help">Help</pb-i18n></a>
    </li>
    <li>
      <a href="${app}/LeDIIR?id=project-contacts" data-template="pages:parse-params"><pb-i18n key="headings.contacts">Contacs</pb-i18n></a>
    </li>
  </ul>
  <div class="dedication">
    <div>Tento <a href="https://www.isvavai.cz/cep?ss=detail&amp;n=0&amp;h=TL03000369">projekt</a> je spolufinancován se státní podporou Technologické agentury ČR v rámci Programu Éta.</div>
    <div>Copyrigh © 2024, Sociologický ústav AV ČR, v. v. i., a Filozofická fakulta UK</div>
    <div><a href="https://github.com/daliboris/lediir-web-app/">LeDIIR</a> <span data-template="pages:version" /> / <a href="https://github.com/daliboris/tei-publisher-components/tree/project/lediir">web components</a> <pb-version/> / API <span data-template="pages:api-version" /></div>
  </div>
 </div>
 
</footer>