<footer class="version">
 <div class="container">
  <table>
   <colgroup>
    <col style="width: 35%;"/>
    <col style="width: 25%;"/>
    <col style="width: 40%;"/>
   </colgroup>
   <tbody>
    <tr>
     <td colspan="3" style="background: yellow;"><strong>Tato verze aplikace je zkušební a je určena výhradně pro interní potřebu řešitelského týmu projektu.</strong></td>
    </tr>
    
    <tr>
     <td>
      <!-- Logo and responsive toggle -->
      <img src="resources/images/logo-sou.jpg" alt="Sociologický ústav" style="height: 50px; padding-right: 2em; "/>
      <img src="resources/images/logo-cuni.png" alt="Filozofická fakulta UK" style="height: 50px;  padding-right: 2em;"/>
      <img src="resources/images/logo-tacr.png" alt="TA ČR" style="height: 50px;  padding-right: 2em;"/>
      
     </td>
     <td>
      <ul style="list-style-type: none;">
       <li>
        <a href="${app}/index.html" data-template="lib:parse-params"><pb-i18n key="headings.dictionaries">Dictionaries</pb-i18n></a>
       </li>
       <li>
        <a href="${app}/LeDIIR?id=project-about" data-template="lib:parse-params"><pb-i18n key="menu.about">About</pb-i18n></a>
       </li>
       <li>
        <a href="${app}/LeDIIR?id=project-how-to-cite" data-template="lib:parse-params"><pb-i18n key="headings.howToCite">How to cite</pb-i18n></a>
       </li>
       <li>
        <a href="${app}/LeDIIR?id=FACS-about" data-template="lib:parse-params"><pb-i18n key="headings.help">Help</pb-i18n></a>
       </li>
      </ul>
      
     </td>
     <td style="vertical-align: top;">
      <p class="nav navbar-nav navbar-right">
       Tento web byl podpořen projektem TA ČR číslo <a href="https://www.isvavai.cz/cep?ss=detail&amp;n=0&amp;h=TL03000369">TL03000369</a>.
       <br />Copyright © 2022, Sociologický ústav AV ČR, Filozofická fakulta UK
       <br />LeDIIR <span data-template="pages:version"/> / web components <pb-version/> / API <span data-template="pages:api-version"/>
      </p>
     </td>
    </tr>
    <tr>
     <td colspan="3"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/></a> Toto dílo podléhá licenci <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Uveďte původ-Neužívejte komerčně-Nezpracovávejte 4.0 Mezinárodní Licence</a>.</td>
    </tr>
   </tbody>
  </table>
 </div>
 
</footer>